<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763106904719-vuqrogfkojto5lbvqo99f2ba98v453mo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763106904719-vuqrogfkojto5lbvqo99f2ba98v453mo</string>
	<key>API_KEY</key>
	<string>AIzaSyCAdkN1fxWB9tOY5uwTD7v-pto4MnAGqU4</string>
	<key>GCM_SENDER_ID</key>
	<string>763106904719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.limblab.app</string>
	<key>PROJECT_ID</key>
	<string>limb-lab</string>
	<key>STORAGE_BUCKET</key>
	<string>limb-lab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763106904719:ios:eeeda74c88336b9b7f7efa</string>
</dict>
</plist>